body {
    background-image: url(/uploads/images/fond-ab.png);
}

main {
    height: 1000px;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 40px;
}

/* Information et mot de passe */
.color {
    color: saddlebrown;
    font-family: American Typewriter;
}

.brown {
    color: brown;
}

.Modifiermdp {
    margin-top: 50px;
}

.informationPersonnelle {
    display: flex;
    flex-direction: column;
    background-color: azure;
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    transition: 500ms;
}

.informationPersonnelle:hover {
    box-shadow: 0 0 30px gray;
    transition: 500ms;
}

.informationPersonnelle a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(90, 0, 90);
    margin-bottom: 10px;
}

.informationPersonnelle a:hover {
    color: purple;
}

#user_change_password_form_currentPassword {
    margin: auto 70px;
}

#user_change_password_form_newPassword_first {
    margin: auto 53px;
}

#user_change_password_form_newPassword_second {
    margin: auto 30px;
}

.adresseUtilisateur {
    margin-bottom: 35px;
}

/* Bouton */
.informationPersonnelle button {
    border: 1px solid gray;
    background-color: white;
    width: 100px;
    padding: 3px;
    text-align: center;
    color: black;
    box-shadow: 0 0 2px black;
    margin: 5px;
    cursor: pointer;
}

.informationPersonnelle button:hover {
    background-color: whitesmoke;
}

/* Avis utilisateur */
.avisUtilisateur {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 30px;
    border: 1px solid gray;
    box-shadow: 0 0 10px gray;
    width: 500px;
    height: 230px;
    transition: 500ms;
    border-radius: 20px;
}

.avisUtilisateur:hover {
        box-shadow: 0 0 30px gray;
    transition: 500ms;
}

.aAvis {
    text-decoration: none;
    font-weight: bold;
    margin: 15px auto 30px;
}

.aAvis:hover {
    color: purple;
}

/* Avec avis */
.avecAvis {
    text-decoration: none;
    font-weight: bold;
    margin: 5px auto;
    color: rgb(90, 0, 90);
}

.avecAvis:hover {
    color: purple;
}

.noteAvis {
    margin: 10px auto;
}

.textAvis {
    margin: 0 auto 30px;
    font-family: Copperplate;
}