body {
    background-image: url(/uploads/images/bg.png);
}

main {
    height: 900px;
}

/* Graphique fromage */
.chartContainer {
    display: flex;
    align-items: center;
}

.chartContainer .chartDiv {
    width: 400px;
    height: 400px;
    margin: 3% 3% 0 20%;
}

#chart {
    box-shadow: 0 0 10px grey;
    padding: 30px;
}

.stats {
    box-shadow: 0 0 10px grey;
    padding: 30px;
}

.titrePeriode {
    text-align: center;
    margin: 90px auto 70px;
    border: 1px solid black;
    width: 350px;
    padding: 15px 15px 40px;
    background-color: azure;
    box-shadow: cadetblue 0px 0px 10px;
}

.ca {
    font-weight: bolder;
    color: green;
}

.revenues {
    color: green;
}

.ttCommande {
    color: green;
    font-weight: bolder;
}