body {
    background-image: url(/uploads/images/bg.png);
}

main {
    min-height: 900px;
    height: auto;
}

/* Graphique fromage */
.chartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.chartContainer .chartDiv {
    width: 400px;
    height: 400px;
    margin: 30px 0;
}

#chart {
    box-shadow: 0 0 10px grey;
    padding: 30px;
}

.stats {
    box-shadow: 0 0 10px grey;
    padding: 30px;
}

.titrePeriode {
    text-align: center;
    margin: 90px auto 70px;
    border: 1px solid black;
    width: 350px;
    padding: 15px 15px 40px;
    background-color: azure;
    box-shadow: cadetblue 0px 0px 10px;
}

.ca {
    font-weight: bolder;
    color: green;
}

.revenues {
    color: green;
}

.ttCommande {
    color: green;
    font-weight: bolder;
}

@media (max-width: 1024px) {

    main {
        min-height: 900px;
        height: auto;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .titrePeriode {
        width: 350px;
        max-width: 100%;
        margin: 50px auto 40px;
        box-sizing: border-box;
    }

    .chartContainer {
        flex-direction: column;
        gap: 30px;
    }

    .chartContainer .chartDiv {
        width: 350px;
        height: 350px;
        max-width: 100%;
        margin: 20px auto;
    }

    #chart {
        padding: 20px;
        box-sizing: border-box;
    }

    .stats {
        width: 90%;
        max-width: 600px;
        padding: 20px;
        box-sizing: border-box;
    }

}