body {
    background-image: url(/uploads/images/bg.png);
}

main {
    height: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Presentation */
.presentation {
    display: flex;
    padding: 0 1% 1%;
    margin: 5% 10% 2% 8%;
}

.presentation div {
    margin: 1% 5% 1% 1%;
    padding: 1%;
}

.presentation h2 {
    font-size: xx-large;
    font-family: Apple Chancery;
    margin-top: 10%;
    transition-duration: 1s;
}

.presentation p {
    font-family: Avenir;
}

.presentation img {
    border-radius: 25%;
    align-self: center;
    margin: 1% auto 1% 5%;
    border: 2px solid black;
    transition-duration: 1s;
}

.presentation:hover h2 {
    transition-duration: 1s;
    text-shadow: skyblue 3px 0 10px;
}

.presentation:hover img {
    transition-duration: 1s;
    box-shadow: 0 0 33px saddlebrown;
}

/* Savoir faire */
.savoirFaire {
    display: flex;
    padding: 0% 1% 1%;
    margin: 2% 11% 1% 10%;
}

.savoirFaire div {
    margin: 1% 1% 1% 5%;
}

.savoirFaire h2 {
    font-size: xx-large;
    font-family: Apple Chancery;
    transition-duration: 1s;
}

.savoirFaire p {
    font-family: Avenir;
}

.savoirFaire img {
    border-radius: 25%;
    align-self: center;
    margin: 1% 5% 1% auto;
    border: 2px solid black;
    transition-duration: 1s;
}

.savoirFaire:hover h2 {
    transition-duration: 1s;
    text-shadow: skyblue 3px 0 10px;
}

.savoirFaire:hover img {
    transition-duration: 1s;
    box-shadow: 0 0 33px saddlebrown;
}

/* Avis client */
.titreAvis {
    font-size: xx-large;
    text-align: center;
    font-family: Apple Chancery;
}

.etoile {
    margin-bottom: 50px;
}

.sectionAvis {
    height: 100%;
    display: flex;
    padding: 1%;
    margin: 1% auto 1% auto;
}

.divAvis {
    padding: 25px;
    width: 400px;
    height: 250px;
    text-align: center;
    background-image: url("/uploads/images/img_navbar.png");
    border: 1px solid saddlebrown;
    border-radius: 30px;
    box-shadow: 0 0 15px saddlebrown;
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

.sectionAvis button {
    margin: auto 30px;
    background-color: antiquewhite;
    height: 50px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0 0 10px saddlebrown;
    transition-duration: 200ms;
}

.sectionAvis button:hover {
    transition: 200ms;
    box-shadow: 0 0 10px gray;
    box-shadow: 0 0 7px saddlebrown;
    background-color: rgb(250, 210, 190);
}

.sectionAvis button:active {
    transition: 100ms;
    box-shadow: 0 0 20px gray;
    box-shadow: 0 0 5px saddlebrown;
    background-color: rgb(250, 190, 160);
}

.avis {
    font-family: Tamil MN;
    color: antiquewhite;
}

.utilisateur {
    color: antiquewhite;
    font-size: large;
    font-family: Kokonor;
}