body {
    background-image: url(/uploads/images/bg.png);
}

main {
    height: 500px;
    height: auto;
}

/* Information client */
.adresseClient {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 20px;
    width: 300px;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    background-color: floralwhite;
    margin: 130px auto;
    box-sizing: border-box;
}

.retour {
    text-decoration: none;
    background-color: rgb(0, 116, 255);
    border-radius: 5px / 5px;
    color: white;
    border: 1px solid white;
    font-size: 10px;
    padding: 1px 10px 2px;
    font-family: Euphemia UCAS;
    width: 50px;
    margin: 15px auto;
}

.retour:hover {
    background-color: blue;
}

.retour:active {
    background-color: rgb(3, 3, 178);
}

@media (max-width: 1024px) {

    main {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .adresseClient {
        width: 300px;
        max-width: 100%;
        margin: 80px auto;
        padding: 15px;
    }

}