/* Barre de navigation */
nav {
    background-image: url("/uploads/images/img_navbar.png");
    text-align: center;
    box-shadow: 0px 5px 10px gray;
    margin: 0 20%;
    padding: 1%;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* accueil */
.navAccueil {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.navAccueil:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Menus */
.navMenus {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.navMenus:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Histoire */
.navHistoire {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.navHistoire:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Connexion / Inscription */
.navLogin {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.navLogin:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Menu utilisateur */
.navUtilisateur {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.btnNavUtilisateur {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.btnNavUtilisateur:hover {
    text-shadow: #ffffff 1px 0 10px;
}

.lienUtilisateur {
    display: none;
    position: absolute;
    background-image: url("/uploads/images/img_navbar.png");
    min-width: 110px;
    box-shadow: 0px 4px 8px gray;
    z-index: 1;
}

.lienUtilisateur a {
    display: block;
    padding: 10px 0;
}

.lienUtilisateur a:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Menu employé */
.navEmploye {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.btnNavEmploye {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.btnNavEmploye:hover {
    text-shadow: #ffffff 1px 0 10px;
}

.lienEmploye {
    display: none;
    position: absolute;
    background-image: url("/uploads/images/img_navbar.png");
    min-width: 130px;
    box-shadow: 0px 4px 8px gray;
    z-index: 1;
}

.lienEmploye a {
    display: block;
    padding: 10px 0;
}

.lienEmploye a:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Menu Administrateur */
.navAdmin {
    position: relative;
    display: inline-block;
    margin: 0 2%;
}

.btnNavAdmin {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.btnNavAdmin:hover {
    text-shadow: #ffffff 1px 0 10px;
}

.lienAdmin {
    display: none;
    position: absolute;
    background-image: url("/uploads/images/img_navbar.png");
    min-width: 177px;
    box-shadow: 0px 4px 8px gray;
    z-index: 1;
}

.lienAdmin a {
    display: block;
    padding: 10px 0;
}

.lienAdmin a:hover {
    text-shadow: #ffffff 1px 0 10px;
}

/* Constact */
.navContact {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 2%;
}

.navContact:hover {
    text-shadow: #ffffff 1px 0 10px;
}